#h1 {
    background-image: url("assets/florida.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#h2 {
    background-image: url("assets/arkansas.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#h3 {
    background-image: url("assets/illinois.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#h4 {
    background-image: url("assets/texastech.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#h5 {
    background-image: url("assets/ohst.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#h6 {
    background-image: url("assets/baylor.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#h7 {
    background-image: url("assets/loyola.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#h8 {
    background-image: url("assets/tenn.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#h9 {
    background-image: url("assets/osu.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#h10 {
    background-image: url("assets/unc.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#h11 {
    background-image: url("assets/houston.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#h12 {
    background-image: url("assets/purdue.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#h13 {
    background-image: url("assets/clemson.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#h14 {
    background-image: url("assets/sdst.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#h15 {
    background-image: url("assets/westvirginia.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#h16 {
    background-image: url("assets/nova.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#a1 {
    background-image: url("assets/vt.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#a2 {
    background-image: url("assets/colgate.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#a3 {
    background-image: url("assets/drexel.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#a4 {
    background-image: url("assets/utahstate.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#a5 {
    background-image: url("assets/oralroberts.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#a6 {
    background-image: url("assets/hartford.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#a7 {
    background-image: url("assets/gt.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#a8 {
    background-image: url("assets/orst.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#a9 {
    background-image: url("assets/liberty.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#a10 {
    background-image: url("assets/wisc.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#a11 {
    background-image: url("assets/cleveland.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#a12 {
    background-image: url("assets/notexas.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#a13 {
    background-image: url("assets/rutgers.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#a14 {
    background-image: url("assets/syracuse.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#a15 {
    background-image: url("assets/morehead.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}

#a16 {
    background-image: url("assets/winthrop.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;    
}
